<div class="container">
  <h1>Plan you`r day!</h1>
  <h1>User: Illya Prokopchuk. Count of Task {{users.length}}</h1>
  <hr>
  <div class="wrapper">
    <input [(ngModel)]="taskModule" id="inp" type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
    <button class="btn btn-success add" (click)="addUser()">Add</button>
  </div>
  <hr>
  <table style="width: 90%; margin: 0 auto" class="table">
    <thead style="font-weight: bold">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Check</th>
        <th scope="col">DONE/IN PROGRESS</th>
        <th scope="col">Edit</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arr of users; let i=index">
        <td>{{i+1}}</td>
        <td>{{arr.task}}</td>
        <td><input type="checkbox" (change)="arr.check = !arr.check"></td>
        <td>
          <div *ngIf="!arr.check" class="done" style="color: green">Done</div>
          <div *ngIf="arr.check" class="inProg" style="color: red ">In PROGRESS</div>
        </td>
        <td><button class="btn btn-warning" (click)="editUser(i)">Edit</button></td>
        <td><button [disabled]="arr.check" class="btn btn-danger" (click)="deleteUser(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="box wrapper none">
    <input [(ngModel)]="editTask" id="editInp" type="text" type="text" class="form-control"
      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <button class="btn btn-success" (click)="saveEdit()">Save</button>
  </div>
</div>
<router-outlet></router-outlet>
